/* Work Sans font from google fonts */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;800&display=swap');


/* Shared Styles star */

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    cursor: pointer;
    border: 0;
}


.text-light-gray {
    color: #727272;
}


/* Shared Styles end */


* {
    font-family: 'Work Sans', sans-serif;


}

/* header style */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-title {
    font-size: 3rem;
    font-style: 700;
    color: #131313;
}

nav>ul {
    display: flex;
    justify-content: space-between;

}

nav li {
    list-style: none;
    margin-left: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* Banner Style */

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}


.banner img {
    margin-top: 20px;
    width: 100%;
}

/* main styles */

main {
    max-width: 1440px;
    margin: 70px auto;
}

.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-right: 70px;
    padding-left: 70px;

}

.teams-title {

    font-size: 2.8rem;

}

.teams-title .text-features {
    color: #FF900E;
    font-weight: 700;
}


/* Responsive */

/* Mobile Device */

@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container {
        flex-direction: column;
        margin: 0 auto;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-content {
        padding-right: 20px;
        padding-left: 20px;

    }

}



/* Tablet or Medium Device */

@media screen and (min-width:576px) and (max-width:992px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container {
        flex-direction: column;
    }

}